
config MTK_BMI160_GYRO_BIRD
        bool "BMI160_GYRO_BIRD for MediaTek package"
        default n
        help
        It support different gyroscope sensor.
        If this option is set,
	  	it will support
         BMI160_GYRO_BIRD gyroscope.

