config BIRD_CARDREADER_SUPPORT
  bool "BIRD_CARDREADER_SUPPORT Driver"
  default n
  help
    BIRD_CARDREADER_SUPPORT

config BIRD_CARDREADER_SUPPORT_FOR_MX2150P_V01_UART
  bool "BIRD_CARDREADER_SUPPORT_FOR_MX2150P_V01_UART Driver"
  default n
  help
    BIRD_CARDREADER_SUPPORT IF FOR MX2150P V01 3V3
