config BIRD_BREATH_LED_SUPPORT
  bool "AW2013 BREATH_LED Driver"
  default n
  help
    BREATH_IC_AW2013 SUPPORT

config BIRD_BREATH_LED_SUPPORT_FOR_MX2151E
  bool "AW2013 BREATH_LED MX2151E Driver"
  default n
  help
    BREATH_IC_AW2013 SUPPORT MX2151E
